html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../image/wood.png");
}

.web-content {
  height: 100%;
}

.display-area {
  height: 70%;
}

.display-canvas {
  height: 90%;
  background-color: white;
  margin: 20px;
}

.post-area {
  height: 30%;
  width: 70%;
  margin: 0 auto;
}

/* 投稿画面エリア */
.message-attr {
  font-size: x-small;
}

#post-name {
  height: 30%;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#post-name h3 {
  margin: 0px;
}

#post-input {
  height: 70%;
  width: 70%;
  margin: 0 auto;
}

#input-area {
  height: 100%;
  width: 70%;
  float: left;
  margin: 0px;
  background-color: rgba(204, 204, 255, 0.5);
}

#input-area-2 {
  width: 70%;
  margin: 0 auto;
  color: white;
}

#submit_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s
}

#submit_btn:hover {
  background: black;
  color: white;
}

#help-area {
  height: 100%;
  width: 30%;
  float: right;
  margin: 0px;
  background-color: rgba(255, 204, 255, 0.5);
}

#help-area h3 {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#help-area img {
  width: 40%;
  margin-left: 50px;
  margin-right: 50px;
}

/* 投稿一覧表示エリア */
#display-name {
  height: 10%;
  margin: 0 auto;
  text-align: center;
}

#display-set {
  height: 85%;
  width: 70%;
  margin: 0 auto;
  padding: 1px;
  background-color: rgba(170, 255, 255, 0.5);
}

#display-set-2 {
  width: 70%;
  margin: 0 auto;
  padding: 1px;
  background-color: rgba(170, 255, 255, 0.5);
}

#post-text {
  width: 100%;
}

#post-category {
  width: 70%;
}

/* メッセージエリア */
.message-area {
  position: relative;
  height: 90%;
}

@keyframes bounce {
  to { transform: translatey(10px);}
}

.message-pos {
  position: absolute;
  animation: bounce 1.5s alternate infinite ease-in-out;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.eat {
  background-color: rgb(204, 204, 255);
}

.outdoor {
  background-color: rgb(0, 164, 141);
  color: white;
}

.buy {
  background-color: rgb(204, 126, 177);
  color: white;
}

.play {
  background-color: rgb(238, 130, 124);
  color: white;
}

.event {
  background-color: rgb(107, 111, 89);
  color: white;
}

.love {
  background-color: rgb(79, 69, 92);
}

.hello {
  background-color: rgb(170, 207, 83);
}

.other {
  background-color: rgb(255, 217, 0);
}

#tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
    border-collapse: collapse;
    border:1px solid #333;
    }
